<div class="container">
  <div class="row card-my">
    <div
      class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0 mb-3"
      *ngFor="let card of creator2"
    >
      <img
        [src]="card.thumbnail.path"
        class="card-img-top"
        alt="card.thumbnail.path"
      />
      <div class="card-body">
        <a [routerLink]="['/creator', card.id]">
          <h3 class="card-title text-center">{{ card.fullName }}</h3>
        </a>
        <hr />
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <b>Comics paticipated:</b> {{ card.comics.available }}
          </li>
          <li class="list-group-item">
            <b>Series participated:</b> {{ card.series.available }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
